[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multitool"]
	path = multitool
	url = https://github.com/ethan-young/multitool
